<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <h1>Welcome to the Home Page</h1>
    <p>This is a basic HTML template.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A neque labore, rerum tempora voluptates suscipit
        repudiandae veniam accusamus assumenda doloremque, tempore iste odio dignissimos fugit quod nesciunt deserunt
        iure. Asperiores.</p>
    {{peoples}}
</body>

</html>